.heading {
  text-align: center;
}
.dataSelect-form {
  margin: auto;
  width: 50%;
  padding: 40px;
  margin-right: 50px;
}
#label1 {
  padding-right: 20px;
}
.right {
  margin-left: 50px !important;
}
.log-out {
  float: right;
  font-size: 17px;
  text-transform: capitalize;
}
.welcome {
  padding-left: 30px;
}
.api-button {
  display: block;
  margin: 0 auto;
}
