body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.all-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.timeline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.year {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.year.active {
  background-color: green;
}

.year:hover {
  background-color: green;
}

.details {
  margin-top: 20px;
}

.details h2 {
  margin: 0;
}

.details p {
  font-size: 1.1em;
}

@media (max-width: 600px) {
  .year {
    padding: 10px 15px;
    font-size: 0.9em;
  }
}

.center {
  text-align: center;
}

#details-edu h4{
  padding-top: 20px;
}