.left-link {
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.right-link {
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.formWrapper {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 1000px;
}

.formWrapper h1 {
  text-align: center;
}

#myform {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin: 10px 0;
}

.formGroup label {
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.submitBtn {
  margin-left: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #0056b3;
}
